---
import Setting from "../../public/icons/setting.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404page">
  <main>
    <div class="error">
      <section class="flex items-center">
        <p class="!text-[10rem]">4</p>
        <div class="rox">
          <Setting />
        </div>
        <p class="!text-[10rem]">4</p>
      </section>

      <p>Sorry, page not found</p>
      <a href="/">
        <button class="py-4 px-8 border-4 border-slate-900 mt-6 rounded-full font-semibold"
          >← Back</button
        >
      </a>
    </div>
  </main>
</Layout>

<style>
  .error {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    & p {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .rox {
    animation: rotate 5s linear infinite;
    transform-origin: center;
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
</style>
