---
import Layout from "../layouts/Layout.astro";
import WORK from "../../public/img/business.jpeg";
import Ranking from "../../public/icons/ranking.astro";
import Bulb from "../../public/icons/bulb.astro";
import Connect from "../../public/icons/connect.astro";
import { Image } from "astro:assets";
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";
---

<Layout title="aboutPage">
  <main>
    <section>
      <section class="whodetailbg pb-[100px]">
        <div><Nav /></div>
        <!-- who we are -->
        <div class="flex md:flex-row flex-col mx-auto container md:pt-20 pt-40">
          <div class="flex flex-col md:flex-row mx-6 md:mx-0 gap-20">
            <div class="md:w-1/2 text-white">
              <div class="flex flex-col gap-10 text-white">
                <div class="flex">
                  <p
                    class="flex font-Kumbh bg-white/20 py-1 px-4 text-sm rounded-full backdrop-blur-[30px] text-white/60"
                  >
                    Who we are
                  </p>
                </div>
                <h2 class="text-[2.3rem] mb-10">Building a sustainable and inclusive future</h2>
              </div>
              <div class="flex flex-col gap-6 text-justify">
                <p>
                  Paracletworld Service Limited is a global and integrated consultancy and
                  operations firm registered under the corporate affairs commission with
                  registration number 1974379.
                </p>
                <p>
                  We complement our tailored, integrated expertise with a vibrant ecosystem of
                  innovators to deliver better, faster, and more enduring business outcomes and
                  solutions.
                </p>
                <p>
                  We make the greatest impact through collaboration with our clients, as our
                  diverse, global teams help organizations tackle the most urgent dynamic
                  challenges.
                </p>
                <!-- <p>We work with organizations and companies like yours to excavate true
                  purpose and help to fully activate and embed that purpose throughout your
                  organization.</p> -->
                <!-- <p>
                We are also on an ongoing mission to live up to our company commitments,
                strengthening ethical and responsible business practices within paracletworld and
                working around to help identify improvement opportunities by benchmarking against
                peers and best practices; to build a sustainable and inclusive future to achieve a
                remarkable difference in society.
              </p> -->
              </div>
            </div>
            <div class="md:w-1/2 bgimg">
              <Image
                src={WORK}
                width={500}
                height={300}
                alt="a picture of"
                class="h-[100%] object-cover flex items-center justify-center object-right rounded-[20px]"
              />
            </div>
          </div>
        </div>

        <!-- mission, vision -->
        <div class="pt-[200px] mx-6 md:mx-0">
          <div
            class="mx-auto container grid grid-cols-[repeat(auto-fit,minmax(20ch,1fr))] gap-20 text-white"
          >
            <article class="flex flex-col items-center gap-6">
              <div class="flex justify-center"><Ranking /></div>
              <div class="flex flex-col text-center gap-6">
                <h3 class="text-[28px]">Our Mission</h3>
                <p class="text-justify">
                  To support businesses and organizations of varying size, structure, and maturity
                  across diverse sectors, to enhance business and organization's performance;
                  optimization of growth to achieve exceptional results
                </p>
              </div>
            </article>
            <article class="flex flex-col gap-6 items-center">
              <div><Bulb /></div>
              <div class="flex flex-col gap-6 items-center text-center">
                <h3 class="text-[28px]">Our Vision</h3>
                <p class="text-justify">
                  To work with ambitious leaders of companies and organizations from around the
                  globe who want to define the future; leveraging our experience and expertise in
                  mobilizing for change, navigating uncertainty, to enable them to achieve sustained
                  and profitable growth.
                </p>
              </div>
            </article>
            <article class="flex flex-col item-center gap-6">
              <div class="flex items-center justify-center"><Connect /></div>
              <div class="flex flex-col gap-6 items-center text-center">
                <h3 class="text-[28px]">Our Purpose</h3>
                <p class="text-justify">
                  To offer creative solutions that will help companies across all geographical zones
                  and sectors; develop and execute winning strategies by bringing unrivaled
                  capabilities, tools, technologies, and talent to every engagement, augmented by an
                  ecosystem of best-of-breed professionals that provide specialized expertise.
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>

      <!-- our core value -->
      <!-- <section class="valuebg py-[100px]">
        <div class="mx-auto container flex flex-row gap-6 text-white text-justify">
          <div
            class="flex flex-col justify-between w-[40%] val1 p-6 bg-white/10 backdrop-blur-[30px]"
          >
            <h2 class="text-[28px]">Excellence</h2>
            <p>
              We go the extra mile by cutting-edge with international best practices to meet the
              trendy demands of our diverse clients; we are driven to always improve in everything
              we do by providing the best, outstanding services.
            </p>
          </div>
          <div class="w-[60%] gap-6 flex flex-col">
            <div class="flex flex-row gap-6">
              <div
                class="flex flex-col val2 w-full p-6 justify-between bg-white/10 backdrop-blur-[30px]"
              >
                <h2 class="text-[28px]">Professionalism</h2>
                <p>
                  We consist of highly respected individuals with years of experience built on
                  professionalism and commitment to delivering value-added to all clients.
                </p>
              </div>
              <div
                class="flex flex-col justify-between val3 w-full p-6 bg-white/10 backdrop-blur-[30px]"
              >
                <h2 class="text-[28px]">Innovations</h2>
                <p>
                  At Paracletworld Service Limited, we use new and effective approaches with
                  strategies in making sure that our clients get better than what they have
                  expected.
                </p>
              </div>
            </div>
            <div
              class="val4 w-full flex flex-col justify-between p-6 bg-white/10 backdrop-blur-[30px]"
            >
              <h2 class="text-[28px]">Integrity</h2>
              <p>
                We uphold our reputation with a deep commitment to delivering a seamless and
                straightforward experience for every client. We believe this is paramount to
                positioning the company in the marketplace as excellent.
              </p>
            </div>
          </div>
        </div>
      </section> -->

      <section class="valuebg py-[100px]">
        <div class="mx-auto container text-white">
          <div class="mx-6 md:mx-0">
            <div class="flex flex-col gap-10 text-white">
              <div class="flex">
                <p
                  class="flex font-Kumbh bg-white/20 py-1 px-4 text-sm rounded-full backdrop-blur-[30px] text-white/60"
                >
                  Our core values
                </p>
              </div>
              <h2 class="text-[2.3rem] mb-10">We are bound by professionalism</h2>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(30ch,1fr))] gap-20">
              <div class="grid grid-cols-subgrid grid-row-subgrid gap-20">
                <div class="grid gap-4">
                  <h2 class="text-[28px]">Innovations</h2>
                  <p class="text-justify">
                    At Paracletworld Service Limited, we use new and effective approaches with
                    strategies in making sure that our clients get better than what they have
                    expected.
                  </p>
                </div>
                <div class="grid gap-4">
                  <h2 class="text-[28px]">Professionalism</h2>
                  <p class="text-justify">
                    We consist of highly respected individuals with years of experience built on
                    professionalism and commitment to delivering value-added to all clients.
                  </p>
                </div>
              </div>
              <div class="grid grid-cols-subgrid grid-row-subgrid gap-20">
                <div class="grid gap-4">
                  <h2 class="text-[28px]">Integrity</h2>
                  <p class="text-justify">
                    We uphold our reputation with a deep commitment to delivering a seamless and
                    straightforward experience for every client. We believe this is paramount to
                    positioning the company in the marketplace as excellent.
                  </p>
                </div>
                <div class="grid gap-4">
                  <h2 class="text-[28px]">Excellence</h2>
                  <p class="text-justify">
                    We go the extra mile by cutting-edge with international best practices to meet
                    the trendy demands of our diverse clients; we are driven to always improve in
                    everything we do by providing the best, outstanding services.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <Footer />
  </main>

  <style>
    .whodetailbg {
      width: 100vw;
      background:
        repeating-linear-gradient(
            90deg,
            transparent,
            transparent 0 20%,
            rgb(255, 255, 255, 0.2) 10% 20.1%
          )
          0 0 / 30% 30% no-repeat,
        repeating-linear-gradient(transparent, transparent 0 20%, rgb(255, 255, 255, 0.2) 10% 20.1%)
          0 0 / 30% 30% no-repeat,
        linear-gradient(rgba(5, 5, 117, 1) 0%, rgba(5, 76, 117, 1) 80%);
    }

    .val1 {
      /* background: url("/img/training2.webp") center/cover no-repeat; */
      height: 73vh;
      width: 50%;
      /* border-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 8)) 50% / 50%; */
    }
    .val2 {
      /* background: url("/img/training2.webp") center/cover no-repeat; */
      height: 35vh;
      width: 50%;
      /* border-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 8)) 50% / 50%; */
    }
    .val3 {
      /* background: url("/img/training2.webp") center/cover no-repeat; */
      height: 35vh;
      width: 50%;
      /* border-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 8)) 50% / 50%; */
    }
    .val4 {
      /* background: url("/img/training2.webp") center/cover no-repeat; */
      height: 35vh;
      width: 100%;
      /* border-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 8)) 50% / 50%; */
    }

    .valuebg {
      width: 100vw;
      background:
        repeating-linear-gradient(
            90deg,
            transparent,
            transparent 0 20%,
            rgb(255, 255, 255, 0.2) 10% 20.1%
          )
          100% 100% / 30% 30% no-repeat,
        repeating-linear-gradient(transparent, transparent 0 20%, rgb(255, 255, 255, 0.2) 10% 20.1%)
          100% 100% / 30% 30% no-repeat,
        linear-gradient(rgba(5, 76, 117, 1) 0%, rgba(5, 5, 117, 1) 100%);
    }

    .imagebg {
      height: 0%;
      background: grey;
      animation: drop 1s linear forwards;
      animation-timeline: auto;

      & img {
        opacity: 1;
        filter: grayscale();
        animation: show 3s linear forwards;
      }
    }

    @keyframes drop {
      100% {
        height: 100%;
      }
    }

    @keyframes show {
      100% {
        opacity: 1;
        filter: none;
      }
    }
  </style>
</Layout>
