---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";
---

<Layout title="contact">
  <main>
    <section class="contactbg">
      <div>
        <Nav />
      </div>
      <div class="mx-auto container flex flex-col gap-10 pt-40 md:pt-20 text-white">
        <div class="mx-6 md:mx-0 flex flex-col gap-10">
          <div class="flex flex-col gap-4">
            <h2 class="text-[28px]">Get in touch with us</h2>
            <p class="md:w-[70%] text-justify">
              Welcome to Paracletworld - your partner in business success. We're here to assist you
              in achieving your goals and realizing your business's full potential. Whether you have
              questions, need expert advice, or want to explore collaboration opportunities, we're
              just a message or call away.
            </p>
          </div>

          <div class="flex flex-col gap-4">
            <h3 class="text-[28px]">How to reach us:</h3>
            <ul>
              <li>+234(0)8131888798</li>
              <li>
                <a href="mailto:paracletworld.1@gmail.com"></a>paracletworld.1@gmail.com
              </li>
              <li>House 15 Wumba Apo Abuja, Nigeria</li>
            </ul>
          </div>

          <div class="flex flex-col gap-4">
            <h3 class="text-[28px]">Connect online:</h3>
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/profile.php?id=100087592749509&mibextid=LQQJ4d"
                  target="_blank">Facebook</a
                >
              </li>
              <li>
                <a href="https://mobile.twitter.com/paracletworld1" target="_blank">Twitter</a>
              </li>
              <li>
                <a href="https://www.instagram.com/paracletworld" target="_blank">Instagram</a>
                <li>
                  <a
                    href="https://www.linkedin.com/company/paracletworld-service-limited/"
                    target="_blank">LinkedIn</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.tiktok.com/@paracletworld.1?_t=8gTZQdVX23y&_r=1"
                    target="_blank">Tiktok</a
                  >
                </li>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </main>
</Layout>

<style>
  .contactbg {
    height: 100vh;
    background:
      repeating-linear-gradient(
          90deg,
          transparent,
          transparent 0 20%,
          rgb(255, 255, 255, 0.2) 10% 20.1%
        )
        0% 0% / 30% 50% no-repeat,
      repeating-linear-gradient(transparent, transparent 0 20%, rgb(255, 255, 255, 0.2) 10% 20.1%)
        0% 0% / 30% 50% no-repeat,
      linear-gradient(rgba(5, 76, 117, 1) 0%, rgba(5, 5, 117, 1) 80%);
  }
</style>
