---
import Logo from "../../public/icons/logopng.astro";
---

<footer class="footbg py-[100px]">
  <section class="container mx-auto md:gap-0 text-white">
    <div class="mx-6 md:mx-0 gap-10 flex md:flex-row flex-col justify-between">
      {/*logo */}
      <div class="flex h-full">
        <div class="bg-white/90 rounded-full backdrop-blur-[30px] p-1">
          <a href="/" class=""><Logo /></a>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <h3>Our Company</h3>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="our-team">Our team</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="flex flex-col gap-2">
        <h3>Get in touch</h3>
        <ul>
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=100087592749509&mibextid=LQQJ4d"
              target="_blank">Facebook</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/company/paracletworld-service-limited/"
              target="_blank">LinkedIn</a
            >
          </li>
          <li>
            <a href="https://mobile.twitter.com/paracletworld1" target="_blank">Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com/paracletworld" target="_blank">Instagram</a>
          </li>
          <li>
            <a href="https://www.tiktok.com/@paracletworld.1?_t=8gTZQdVX23y&_r=1" target="_blank"
              >Tiktok</a
            >
          </li>
        </ul>
      </div>

      <div class="flex flex-col">
        <h3 class="mb-2">Contact us</h3>
        <p>House 15 Wumba Apo Abuja, Nigeria</p>
        <p>+234(0)8131888798</p>
        <p>info@paracletworld.com</p>
        <p>RC 1974379</p>
      </div>
    </div>
  </section>
</footer>

<style>
  .footbg {
    background: linear-gradient(rgba(5, 5, 117, 1) 0%, rgba(5, 5, 117, 1) 100%);
  }
</style>
