---
import Layout from "../layouts/Layout.astro";
import heroImage from "../components/images/hero.jpg";
import { Image } from "astro:assets";
import Navbar from "./navbar.astro";
---

<Layout title="">
  <main>
    <div class="herobg-img">
      {/*Navbar */}
      <div class="nav">
        <Navbar color="white" background={false} logo={true} svgcolor="white" />
      </div>

      {/*hero text */}

      <div class="hero-text">
        <div class="headings">
          <h1>World Class Excellence in <b style="">Consultancy</b></h1>
          <p>
            We make the greatest impact through collaboration with our clients,
            as our diverse, global teams help organizations tackle the most
            urgent dynamic challenges
          </p>
          <button>Get in touch</button>
        </div>
        <div class="world-map">
          <div class="world-map-globe"></div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    background-image: url("../components/images/hero.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
  }

  main::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 82);
    position: absolute;
    top: 0;
    opacity: 0.9;
    mix-blend-mode: multiply;
  }

  .hero-text h1 {
    font-size: 72px;
    z-index: 9999;
    margin-top: 0;
    margin-bottom: 0;
  }

  .hero-text {
    width: 80%;
    margin: 0 auto;
    z-index: 10;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-bottom: 60px;
    color: white;
    position: relative;

    & button {
      padding: 16px 20px;
      border: none;
      font-size: 16px;
      font-weight: 800;
      background-color: orange;
      color: white;
      border-radius: 20px;
      width: 40%;
    }

    & p {
      line-height: 1.6;
    }
  }

  .hero-text .headings {
    width: 50%;
    align-items: start;
    display: flex;
    flex-flow: column;
    gap: 30px;
  }

  .world-map {
    width: 50%;
    display: flex;
    justify-content: end;
  }

  .world-map-globe {
    height: 450px;
    width: 80%;
    background-color: white;

    z-index: 9;
    border-radius: 50%;
    background-image: url("../components/images/map.png");
    box-shadow: -150px 15px 80px 10px rgba(0, 0, 0, 0.9) inset;
    box-shadow: 20px 10px 40px rgba(255, 255, 255, 0.3) inset;
    animation: world 10s linear alternate infinite;
    background-repeat: repeat-x;
    background-size: cover;
    background-position: top cente;
  }

  .nav {
    margin: 0 auto;
  }

  @keyframes world {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  @media screen and (max-width: 800px) {
    .hero-text {
      margin: 0 24px;
      z-index: 10;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      padding-bottom: 60px;
      color: white;
      position: relative;
      width: auto;

      & button {
        padding: 16px 20px;
        border: none;
        font-size: 16px;
        font-weight: 800;
        background-color: orange;
        color: white;
        border-radius: 20px;
        width: auto;
        margin: 0;
      }
    }

    .hero-text .headings {
      width: 100%;
      align-items: start;
      display: flex;
      flex-flow: column;
      gap: 30px;
    }

    main::before {
      content: "";
      background-color: rgba(0, 0, 82);
      position: absolute;
      top: 0;
      opacity: 0.9;
      mix-blend-mode: multiply;
    }

    .world-map {
      width: auto;
      justify-content: center;
      margin-top: 60px;
    }

    .world-map-globe {
      height: 250px;
      width: 80%;
    }
    .hero-text h1 {
      font-size: 48px;
    }
  }
</style>
