---
import LogoTrans from "../components/icons/logo.astro";

import LogoWhite from "../components/icons/logoWhite.astro";

import { Image } from "astro:assets";

interface Props {
  logo: boolean;
}

const { logo = true } = Astro.props;
---

<div>
  {logo ? <LogoWhite /> : <LogoTrans />}
</div>
