---
import { Image } from "astro:assets";

import LogosT from "../components/images/L.png";

import LogosW from "../components/images/LW.png";

interface Props {
  logo: boolean;
}

const { logo = true } = Astro.props;
---

<div>
  {
    logo ? (
      <Image src={LogosT} width={80} height={70} alt="logo" />
    ) : (
      <Image src={LogosW} width={80} height={70} alt="logo" />
    )
  }
</div>
