---
import { Image } from "astro:assets";
import Logo from "../../public/icons/logopng.astro";
---

<nav class="flex flex-row justify-between text-white items-center md:py-6 mx-auto container">
  <div class="lagos flex w-full md:w-auto justify-between items-center py-4 px-6 md:px-0 md:py-0">
    <div class="bg-white rounded-full flex p-1">
      <a href="/" class="z-100"><Logo /></a>
    </div>
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="flex md:gap-32 gap-10 navmenu items-center pt-10 md:pt-0">
    <ul class="flex flex-row gap-0 font-semibold">
      <li>
        <a
          class="block px-4 py-2 cursor-pointer hover:bg-white/20 hover:rounded-full hover:backdrop-blur-[30px]"
          href="/about">About</a
        >
      </li>
      <li>
        <a
          class="block px-4 py-2 cursor-pointer hover:bg-white/20 hover:rounded-full hover:backdrop-blur-[30px]"
          href="/services">Services</a
        >
      </li>
      <li>
        <a
          class="block px-4 py-2 cursor-pointer hover:bg-white/20 hover:rounded-full hover:backdrop-blur-[30px]"
          href="/our-team">Team</a
        >
      </li>
      <li>
        <a
          class="block px-4 py-2 cursor-pointer hover:bg-white/20 hover:rounded-full hover:backdrop-blur-[30px]"
          href="/partners">Partners</a
        >
      </li>
      <li>
        <a
          class="block px-4 py-2 cursor-pointer hover:bg-white/20 hover:rounded-full hover:backdrop-blur-[30px]"
          href="/contact">Contact us</a
        >
      </li>
    </ul>

    <div>
      <a href="https://registration.paracletworld.com/">
        <button
          type="button"
          class="buttonstyle border-2 border-whitemx-6 md:mx-0 px-[1.8rem] py-[1rem] font-semibold rounded-full"
          >Register for training</button
        ></a
      >
    </div>
  </div>
</nav>

<style>
  main {
    background: #050575;
  }

  .buttonstyle {
    /* background: linear-gradient(rgb(206, 179, 83) 0%, rgba(5, 5, 117, 0.1) 100%); */
    background: transparent;
    position: relative;
    transition: all 0.5s linear;
  }

  .buttonstyle:hover {
    padding: 1rem 2rem;
    transition: padding 1s ease-in-out;
    background-color: rgba(255, 255, 255, 1);
    color: #050575;
    backdrop-filter: blur(30px);
    transition: all 0.5s linear;
  }

  .hamburger {
    & div {
      width: 1.6rem;
      height: 0.2rem;
      background-color: white;
      display: none;
      flex-direction: column;
      margin-top: 2px;
    }
  }

  a.active {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 9999px;
  }

  @media screen and (max-width: 768px) {
    .hamburger {
      & div {
        width: 1.6rem;
        height: 0.2rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 4px;
        border-radius: 99px;
      }
    }

    .lagos {
      position: fixed;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(30px);
      z-index: 999999;
    }

    nav {
      display: flex;
      flex-direction: column;
    }

    .navmenu {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 5.4rem;
      left: -350px;
      width: 350px;
      height: 100%;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(30px);
      z-index: 999999;
      transition: left 0.5s linear;
      & ul {
        display: flex;
        flex-direction: column;
      }
    }

    .navmenu.showmenu {
      left: 0;
    }

    .hamburger.togglemenu {
      & div {
        transition: all 0.5s linear;
      }

      & div:nth-child(1) {
        transform: rotate(45deg);
      }

      & div:nth-child(2) {
        opacity: 0;
      }

      & div:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px) translateX(10px);
      }
    }

    .navmenu ul li a {
      font-size: 1.2rem;
    }
  }
</style>

<script>
  const menubar = document.querySelector(".hamburger");
  const navmenu = document.querySelector(".navmenu");
  const links = document.querySelectorAll(".navmenu ul li a");

  menubar?.addEventListener("click", () => {
    navmenu?.classList.toggle("showmenu");
    menubar?.classList.toggle("togglemenu");
  });

  const linkArray = Array.from(links) as HTMLAnchorElement[];

  linkArray.forEach((link) => {
    //remove active class for all links
    link.classList.remove("active");

    //get the current path
    const currentPath = window.location.pathname.slice(0, -1);

    //get the href from the link array then use url object tot get the pathname and the remove the trailing slash
    const hrefPath = new URL(link.href).pathname;

    console.log("hrefpath", hrefPath);
    console.log("current", currentPath);

    //check if current path is the path the user is and add an active link
    if (currentPath === hrefPath) {
      link.classList.add("active");
    }
  });
</script>
