---
const { color, background } = Astro.props;
import Menu from "../components/icons/menu.astro";
import { Image } from "astro:assets";
import Logo from "./logo.astro";

interface Props {
  logo: boolean;
  color?: string;
  background?: boolean;
  svgcolor?: string;
}

const { logo, svgcolor } = Astro.props;

const bground = background ? "white" : "#000052";
---

<main>
  <nav>
    <div class="menu-wrapper">
      <div class="menubars">
        <a
          href="#main-menu"
          class="menu-toggle"
          id="main-menu-toggle"
          aria-label="Open main menu"
        >
          <Menu svgcolor={svgcolor} />
        </a>
      </div>
      <div>
        <Logo logo={logo} />
      </div>
    </div>
    <div class="main-menu" id="main-menu" aria-label="Main menu">
      <a href="#main-menu-toggle" class="menu-close text-black">
        <span class="sr-only">Close menu</span>
        <span style={{ color: color }}>X</span>
      </a>
      <ul style={{ background: bground }}>
        <li><a href="/" style={{ color: color }}>Home</a></li>
        <li><a href="/about" style={{ color: color }}>About</a></li>
        <li><a href="/services" style={{ color: color }}>Services</a></li>
        <li><a href="/our-team" style={{ color: color }}>Our team</a></li>
        <li><a href="/contact" style={{ color: color }}>Contact</a></li>
      </ul>
    </div>
  </nav>
  <a href="#main-menu-toggle" class="backdrop" hidden></a>
</main>

<style>
  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style-type: none;
  }

  ul li a {
    padding: 12px 16px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
  }

  ul li a:hover {
    color: orange;
  }

  .span1,
  .span2,
  .span3 {
    width: 2rem;
    height: 0.3rem;
    background-color: blue;
    margin-bottom: 0.2rem;
    border-radius: 10%;
  }

  .menu-toggle {
    color: black;
    margin-right: 1rem;
  }

  .menu-wrapper {
    padding-top: 2em;
    margin: 0 24px;
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    color: black;
  }

  .main-menu {
    position: fixed;
    display: none;
    left: -300%;
    top: 0;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
    transition: left 0.3s ease-in;
    z-index: 999;
  }

  .main-menu ul {
    list-style: none;
    margin: 0;
    padding-top: 2.5em;
    min-height: 100%;
    width: 300px;
    display: block;
    background: white;
  }

  .main-menu a {
    display: block;
    padding: 0.55em;
    text-decoration: none;
    color: #000052;
  }

  .main-menu a:hover,
  .main-menu a:focus {
    text-decoration: none;
    background: #e4e4e4;
  }

  .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }

  .main-menu:target {
    display: block;
    left: 0;
    outline: none;
  }

  .menu-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .main-menu:target .menu-close {
    z-index: 1001;
  }

  .main-menu:target ul {
    position: relative;
    z-index: 1000;
  }

  .main-menu:target + .backdrop {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 990;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: default;
  }

  @media (min-width: 800px) {
    nav {
      width: 80%;
      margin: 0 auto;
    }
    .menu-toggle,
    .main-menu .menu-close {
      display: none;
    }

    .main-menu {
      position: static;
      display: block;
    }

    .main-menu ul {
      padding: 0;
      height: auto;
      width: auto;
      background: none !important;
      overflow: hidden;
      display: flex;
    }

    .main-menu li {
      display: flex;
    }

    .main-menu li:first-child a {
      border-top: none;
    }

    .main-menu a {
      border: none;
      display: inline;
    }

    .menu-wrapper {
      display: block;
      flex-direction: auto;
      width: auto;
      justify-content: space-between;
      margin: 0;

      & div:nth-child(2) {
        display: flex;
        justify-self: center;
        align-self: center;
      }
    }

    .main-menu a:hover,
    .main-menu a:focus {
      background: none;
      text-decoration: none;
    }
  }

  .sr-only {
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }

  @media screen and (max-width: 480px) {
  }
</style>
