<div style="fill:'black'; opacity:0.2;">
  <svg
    width="60"
    height="50"
    viewBox="0 0 136 129"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M23.3774 0L16.5386 6.82037L26.7143 16.9782L33.5434 10.1578L23.3726 0H23.3774ZM112.627 0L102.452 10.1578L109.286 16.9782L119.457 6.82522L112.627 0ZM68 3.02696C66.3971 3.04637 64.7749 3.13853 63.1429 3.33742C63.0943 3.33742 63.0457 3.32772 62.9971 3.33742C43.2966 5.59309 27.6177 21.4895 24.8929 41.0774C22.7169 56.8428 29.2254 71.1385 40.0714 80.3455C44.508 84.127 47.5088 89.3161 48.5714 95.0437V124.149H59.6457C61.336 127.045 64.4203 129 68 129C71.5797 129 74.664 127.045 76.3543 124.149H87.4286V104.745H87.8851V98.9826C87.8851 91.8712 91.5863 84.7016 97.5994 79.1279C105.643 71.0851 111.714 59.6612 111.714 46.5395C111.714 22.5761 91.9651 2.80382 68 3.02696ZM68 12.7288C86.7729 12.4668 102 27.8151 102 46.5395C102 56.6973 97.2886 65.6424 90.7654 72.1523L90.9209 72.3075C84.4384 78.2776 80.2467 86.3208 79.0694 95.0485H57.8243C56.7557 86.7341 53.1857 78.6865 46.4391 72.9139C37.8566 65.6375 32.742 54.6745 34.4517 42.295C36.5743 27.0147 48.9891 14.7273 64.2017 13.0441C65.4577 12.8692 66.7226 12.7655 67.9903 12.7336L68 12.7288ZM0 46.5395V56.2413H14.5714V46.5395H0ZM121.429 46.5395V56.2413H136V46.5395H121.429ZM26.7143 85.8027L16.5434 95.9557L23.3774 102.781L33.5386 92.6231L26.7143 85.8027ZM109.286 85.8027L102.457 92.6231L112.623 102.781L119.457 95.9557L109.286 85.8027ZM58.2857 104.75H77.7143V114.452H58.2857V104.75Z"
      fill="currentColour"></path>
  </svg>
</div>
